<div class="jumbotron py-3">
  <h1 class="display-4 text-center">MANAGEMENT SYSTEM</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <app-user-modal-item *ngIf="isUserView"></app-user-modal-item>
      <app-role *ngIf="isRoleView"></app-role>
    </div>
    <div class="col-md-7">
      <div class="form-group row" style="margin-bottom: 10px;">
        <div class="col-md-3">
          <button type="button" (click)="switchUserView()" class="btn btn-info btn-lg btn-block"> <i class="fa fa-user"></i> User</button>
        </div>
        <div class="col-md-3">
          <button  type="button" (click)="switchRoleView()" class="btn btn-lg btn-success btn-block"> <i class="fa fa-edit"></i> Role</button>
        </div>
      </div>
      <div class="col-lg-12 row">
        <table class="table" *ngIf="isUserView">
          <thead class="thead-light">
            <tr>
              <th>Full name</th>
              <th>Status</th>
              <th>Phone number</th>
              <th>Username</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of usersrc.listData">
              <td (click)="populateForm(item)">{{ item.name }}</td>
              <td (click)="populateForm(item)">
                {{ item.isLocked == true ? "inactive" : "active" }}
              </td>
              <td (click)="populateForm(item)">{{ item.phoneNumber }}</td>
              <td (click)="populateForm(item)">{{ item.username }}</td>
              <td
                class="fa fa-trash-alt fa-lg text-danger"
                (click)="deleteUser(item.userId)"
              ></td>
            </tr>
          </tbody>
        </table>
        <table class="table" *ngIf="isRoleView">
          <thead class="thead-light">
            <tr>
              <th>Role</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of rolesrc.listRole">
              <td (click)="populateRole(item)">{{ item.name }}</td>
              <td (click)="populateRole(item)">{{ item.description }}</td>
              <td
                class="fa fa-trash-alt fa-lg text-danger"
                (click)="deleteRole(item.roleId)"
              ></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
