<p>
    <mat-toolbar color="primary">   
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>     
        <span>My SOC Store</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="position: relative;left: 100rem;" (click)="onToLogin()">
            <mat-icon>login</mat-icon>
        </button>
        
  </mat-toolbar>
</p>
<div id="login-box">
    <form class="form__content" [formGroup]="addRegisterFrm" (ngSubmit)="onRegister()">
        <div class="left">
            <h1>Sign up</h1>
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" class="form-control" formControlName ="username"/>
            </div>
            <div class="form-group">
                <input type="text" name="name" placeholder="Name" class="form-control" formControlName ="name"/>
            </div>
            <div class="form-group">
                <input type="text" name="phone" placeholder="Phone number" class="form-control" formControlName ="phoneNumber"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control" formControlName ="password"/>
            </div>
            <input type="submit" name="signup_submit" class="form__button" value="Register" />
          </div>
    </form>
    
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>