<form
  autocomplete="off"
  #form="ngForm"
  [formGroup]="formGroup"
  (ngSubmit)="submit()"
>
  <div class="form-group">
    <label>Full name<span style="color: red">(*)</span>:</label>
    <input
      class="form-control form-control-lg"
      placeholder="Full name"
      [(ngModel)]="usersrc.formData.name"
      name="fullName"
      formControlName="fullName"
    />
    <span
      *ngIf="isControlHasError('fullName', 'required')"
      class="form-text text-muted kt-font-danger"
    >
      <p style="color: red">Required field!</p>
    </span>
  </div>
  <div class="form-group">
    <label>Locked: </label>
    <input
      style="margin-left: 10px"
      type="checkbox"
      name="locked"
      [(ngModel)]="locked"
      [(ngModel)]="usersrc.formData.isLocked"
      formControlName="locked"
    />
  </div>
  <div class="form-group">
    <label>Phone number<span style="color: red">(*)</span>: </label>
    <input
      class="form-control form-control-lg"
      [(ngModel)]="usersrc.formData.phoneNumber"
      name="phoneNumber"
      placeholder="Phone number"
      maxlength="11"
      minlength="10"
      formControlName="phoneNumber"
    />
    <span
      *ngIf="isControlHasError('phoneNumber', 'required')"
      class="form-text text-muted kt-font-danger"
    >
      <p style="color: red">Required field!</p>
    </span>
  </div>
  <div class="form-group row">
    <div class="form-group col-md-6">
      <label>Username<span style="color: red">(*)</span>: </label>
      <input
        class="form-control form-control-lg"
        type="text"
        name="username"
        [(ngModel)]="usersrc.formData.username"
        placeholder="Username"
        formControlName="username"
        maxlength="8"
        minlength="6"
      />
      <span
        *ngIf="isControlHasError('username', 'required')"
        class="form-text text-muted kt-font-danger"
      >
        <p style="color: red">Required field!</p>
      </span>
    </div>

    <div class="form-group col-md-6">
      <label>Password<span style="color: red">(*)</span>: </label>
      <input
        type="password"
        class="form-control form-control-lg"
        placeholder="Password"
        [(ngModel)]="usersrc.formData.password"
        name="password"
        required
        formControlName="password"
      />
      <span
        *ngIf="isControlHasError('password', 'required')"
        class="form-text text-muted kt-font-danger"
      >
        <p style="color: red">Required field!</p>
      </span>
    </div>
  </div>
  <div class="form-group">
    <button
      class="btn btn-info btn-lg btn-block"
      type="submit"
      [disabled]="!formGroup.valid"
    >
      SUBMIT
    </button>
    <button class="btn btn-danger btn-lg btn-block" (click)="resetForm()" type="button">CLEAR</button>
  </div>
</form>
