<p>
    <mat-toolbar color="primary">   
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>     
        <span>My SOC Store</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="position: relative;left: 100rem;" (click)="onToLogin()">
            <mat-icon>login</mat-icon>
        </button>
        
  </mat-toolbar>
</p>
<div>
    <img id="anh" src="../assets/img/bg.jpg">
</div>