<p>
    <mat-toolbar color="primary">   
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>     
        <span>My SOC Store</span>
        <span class="example-spacer"></span>
        
  </mat-toolbar>
</p>
<div class="container">
  <section id="content">
    <form action="">
      <h1>Login</h1>
      <div>
        <input type="text" placeholder="Username" required="" id="username" />
      </div>
      <div>
        <input type="password" placeholder="Password" required="" id="password" />
      </div>
      <div>
        <input type="submit" value="Log in" />
        <a href="#">Lost your password?</a>
        <a href="/sign-up">Register</a>
      </div>
    </form><!-- form -->
    
  </section><!-- content -->
</div><!-- container -->