<form
  autocomplete="off"
  #form="ngForm"
  [formGroup]="formGroup"
  (ngSubmit)="submit()"
>
  <div class="form-group">
    <label>Role<span style="color: red">(*)</span>:</label>
    <input
      class="form-control form-control-lg"
      placeholder="Role name"
      [(ngModel)]="rolesrc.roleData.name"
      name="roleName"
      formControlName="roleName"
    />
    <span
      *ngIf="isControlHasError('roleName', 'required')"
      class="form-text text-muted kt-font-danger"
    >
      <p style="color: red">Required field!</p>
    </span>
  </div>
  <div class="form-group">
    <label>Description:</label>
    <textarea
      class="form-control form-control-lg"
      rows="3"
      [(ngModel)]="rolesrc.roleData.description"
      name="description"
      formControlName="description"
    ></textarea>
  </div>
  <div class="form-group">
    <button
      class="btn btn-primary btn-lg btn-block"
      type="submit"
      [disabled]="!formGroup.valid"
    >
      SUBMIT
    </button>
    <button
      class="btn btn-danger btn-lg btn-block"
      type="button"
      (click)="resetForm()"
    >
      CLEAR
    </button>
  </div>
</form>
